.grid-container {
    display: grid;
    /*grid-template-columns: repeat(10,30px);*/
    background-color: white;
    padding: 2px;
    left:400px;
    top:100px;
    position:absolute;
    max-height:400px;
    max-width:600px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px;
    /*width:10px;
    height: 10px;*/
    text-align: center;
  }